<form class="quiz-form" [formGroup]="generateForm" (ngSubmit)="onGenerate()">
    <mat-form-field appearance="fill">
        <mat-label>Questions amount</mat-label>
        <input matInput autocomplete="false" type="number" formControlName="amount">
        <mat-error *ngIf="!generateForm.get('amount').valid">Enter number from 1 to 50</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories$" [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Difficulty</mat-label>
          <mat-select formControlName="difficulty">
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</mat-option>
          </mat-select>
          </mat-form-field>
          <mat-checkbox class="example-margin">To favorites</mat-checkbox>
          <button mat-raised-button class="gen-button" type="submit" [disabled]="!generateForm.valid">Generate</button>
</form>
